html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  height: 60px;
  width: 1090px;
  margin: 0 auto;
  margin-left: 175px;
  margin-top: 40px;
}

#left ul {
  display: flex;
  align-items: center;
}

#left ul li a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  list-style: none;
  font-weight: bold;
}

#left ul li {
  list-style: none;
  padding: 0 10px;

}

#left ul li:nth-child(2) a{
  color: #FF5555;
}

#right button {
  width: 180px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#firstPage {
  /* background-color: antiquewhite; */
  height: 120vh;
  background-image: url("./firstGroup.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: contain; */
  margin: 0 141px;
  /* width: 100vw; */
}

#secondPage {
  /* background-color: antiquewhite; */
  height: 100vh;
  background-image: url("./secondGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  margin: 0 141px;
  /* width: 100vw; */
}

#thirdPage {
  /* background-color: antiquewhite; */
  height: 100vh;
  background-image: url("./thirdGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  margin: 0 141px;
  /* width: 100vw; */
}

#forthPage {
  /* background-color: antiquewhite; */
  height: 100vh;
  background-image: url("./forthGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  margin: 0 141px;
  /* width: 100vw; */
}

#fifthPage {
  /* background-color: antiquewhite; */
  height: 100vh;
  background-image: url("./fifthGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  margin: 0 141px;
  /* width: 100vw; */
}

#sixthPage {
  /* background-color: antiquewhite; */
  height: 100vh;
  background-image: url("./sixthGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  margin: 100px 250px;
  /* width: 100vw; */
}

#seventhPage {
  /* background-color: antiquewhite; */
  height: 100vh;
  background-image: url("./seventhGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  margin: 0 101px;
  /* width: 100vw; */
}

#eighthPage {
  /* background-color: antiquewhite; */
  height: 70vh;
  background-image: url("./eigthGroup.png");
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: contain; */
  /* margin: 100px 250px; */
  margin: 100px 200px;
  /* width: fit-content; */
}